<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzease.tomeet">

    <!-- 相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- android:maxSdkVersion="18" 写入内部存储卡仅在API18以下才需要这条权限 这里极光需要就没写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 通用权限 -->
    <!-- 检测联网方式，区分用户设备使用的是2G、3G或是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--判断程序是否在前台运行,必须 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获取用户设备的mac地址，在平板设备上，无法通过imei标示设备，我们会将mac地址作为用户的唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户设备的IMEI，通过IMEI和mac来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 融云 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 用于进行网络定位 -->


    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 弹窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 麦克风 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".PTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">

        <!-- Glide 使用OKHTTP3 网络框架 -->
        <meta-data
            android:name="com.hzease.tomeet.utils.MyGlideModule"
            android:value="GlideModule" />

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58e4615882b6350590001ca1" />

        <!-- 友盟 渠道名称,自定义 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ToMeet_debug" />

        <!-- AMAPKEY -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9ec731c426036a64c93d46f920b47d69" />

        <!-- AMAP定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 基于750*1334的屏幕做适配 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <!-- ↓↓↓↓↓↓↓↓↓↓↓↑↑↑↑↑↑↑↑↓↓↓↓↓↓融云activity↓↓↓↓↑↑↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
        <!-- 会话界面 -->
        <activity
            android:name=".chat.ui.ChatConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.hzease.tomeet"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 好友+群聊 -->
        <activity
            android:name=".chat.ui.ChatVersion2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.hzease.tomeet"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hzease.tomeet.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
        <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑融云activity↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->


        <!-- activity -->
        <activity
            android:name=".splash.ui.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tomeet" />
            </intent-filter>
        </activity>


        <!-- 选择城市界面 -->
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- 支付宝 -->


        <!-- QQ精简版 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106142011" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ精简版 -->


        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信 -->

        <!-- 登录 ↑-->

        <!--魔窗 总的activity，必须注册！！！ -->
        <activity
            android:name="cn.magicwindow.common.base.MWActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:exported="true" />

        <!--MW sdk ID 此处跟activity同级，需要放在Application内，MW_APPID（也就是后台的” 魔窗AppKey”）不能更改 -->
        <meta-data
            android:name="MW_APPID"
            android:value="6JXTYH68GNWOSQYL4XJ4ECNGOX7WQDD4" />

        <!--渠道名称MW_CHANNEL不能更改 -->
        <meta-data
            android:name="MW_CHANNEL"
            android:value="ToMeet_debug" />

        <!-- 魔窗↑ -->
        <activity android:name=".login.ui.LoginActivity" />

        <activity
            android:name=".home.ui.CreateRoomActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".home.ui.SelectGameTypeActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".home.ui.CreateRoomBeforeActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".MyReceiveSmallPaperActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        />
        <activity
            android:name=".home.ui.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ranking.ui.RankingActivity" />
        <activity android:name=".me.ui.MeActivity" />
        <activity android:name=".PersonOrderInfoActivity" />
        <activity android:name=".ModitfyRoomInfoActivity" />
        <activity android:name=".PermissionActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ShareLocationActivity" />
        <activity android:name=".ModifityPicActivity" />
        <activity android:name=".me.ui.AboutUsActivity" />
        <activity
            android:name=".game.ui.GameChatRoomActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".splash.ui.GuideActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".game.ui.ComplaintActivity" />
        <activity android:name=".circle.ui.CircleActivity" />
        <activity android:name=".circle.ui.SearchCircleActivity" />
        <activity android:name=".circle.ui.MemberListActivity" />
        <activity android:name=".AgreementActivity" />
        <activity android:name=".game.ui.ChooseUserActivity" />
        <activity android:name=".RoomLocationActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".me.ui.MySmallPaperActivity" />
        <activity android:name=".chat.ui.AddFriendActivity" />
        <activity android:name=".me.ui.GameFinishActivity" />
        <activity
            android:name=".circle.ui.CircleInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".splash.ui.NoviceGuideActivity"
             />
    </application>

</manifest>